@import "tailwindcss";

td *{
  margin: 0 auto;
}

.borderText{
    -webkit-text-stroke: 1px var(--color-blue-200) ;
}
 
.bb-half {
  border-bottom: 0.5px solid #ffffff80;
}
.bt-half {
  border-top: 0.5px solid #ffffff80;
}

.imgF{
  filter: brightness(0) invert(1);
}